<html>
    <head>
        <title>{{ title }}</title>
        <meta name="csrf-token" content="{{ csrf_token() }}">
    	<script nonce="{{ csp_nonce() }}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script nonce="{{ csp_nonce() }}" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <link nonce="{{ csp_nonce() }}" rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"> 
    	<script nonce="{{ csp_nonce() }}" type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
        <script nonce="{{ csp_nonce() }}" type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
    </head>
    <body>
        <div id="chartContainer"></div>

        <button id='credits'> Show Credits </button>
        <button id='workunits'> Show Work Units </button>
        <br>        
        <button id='creditsweekly'> Show Weekly(ish) Credits </button>
        <button id='workunitsweekly'> Show Weekly(ish) Work Units </button>
        <br>        
        <button id='creditsdaily'> Show Daily(ish) Credits </button>
        <button id='workunitsdaily'> Show Daily(ish) Work Units </button>
    </body>
</html>