body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chartContainer {
    width: 100%;
    height: 400px;
}

#graphbuttons {
	display: inline;
	float: left;
	width: 49%;
}

#piebuttons {
	display: inline;
	float: right;	
	width: 49%;
}